<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AddressBook"
         connectionString="Server=localhost;Database=AddressBook;Trusted_Connection=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ApplicationName" value="Address Book 2000"/>
    <add key="ContactsDatabaseFileName" value="NO_CONTACTS_IN_HERE.DAT" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>